
{% extends "base_no_header.html" %}

{% load static %}


{% block contents %}

 
 <!-- about section -->

 <section class="about_section layout_padding mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="img-box">
            <img src="{% static 'Resources/img7.jpg' %}" alt="" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="detail-box">
            <div class="custom_heading-container">
              <h2 style="color: black;">
                About Design
              </h2>
            </div>

            <p style="color: rgb(36, 124, 48);" >
              At GRID GENIUS, we are passionate about helping individuals and businesses take control of their energy usage. Our innovative platform provides real-time insights and accurate predictions of your electricity budget, allowing you to make smarter decisions that save money and benefit the environment. By leveraging advanced data analytics and user-friendly tools, we aim to simplify energy management for everyone, helping you reduce unnecessary costs and lower your carbon footprint.

              Our mission is to empower you with the knowledge and tools to make informed decisions about your energy consumption, creating a more sustainable future for all.
              
              
            </p>
            <div>
              <a href="">
                About More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

 

  
  {% endblock contents %}

 